DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=Banco_Projeto

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_SHEETS_CREDENTIALS_FILE=credenciais.json
GOOGLE_SHEETS_SPREADSHEET_NAME=Data base OBRAS DE ITABIANA
# Cole aqui o conteúdo INTEIRO do credenciais.json em uma linha só (apenas em produção, ex: Render)
GOOGLE_CREDENTIALS_JSON=

DJANGO_CSRF_TRUSTED_ORIGINS=https://seu-app.onrender.com
