Django==6.0.7
django-mongodb-backend==6.0.3
pymongo==4.17.0
dnspython==2.8.0
gspread==6.2.1
google-auth==2.49.2
cloudinary==1.44.2
ntplib==0.4.0
python-dotenv==1.2.2
gunicorn==26.0.0
whitenoise==6.12.0
